@import 'tailwindcss';
@font-face {
	font-family: 'Coinbase';
	src: url('/fonts/Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
}

.coinbase_login_button {
	font-family: Coinbase;
	@apply bg-[#0050ff] text-white text-lg p-1 px-2 rounded-md hover:cursor-pointer;
}

.twitter_login_button {
	font-family: Coinbase;
	@apply bg-black text-white text-lg p-1 px-2 rounded-md hover:cursor-pointer;
}

.logout_button {
	font-family: Coinbase;
	@apply bg-red-500 text-white opacity-80 text-lg p-1 px-2 rounded-md hover:cursor-pointer;
}

.Coinbase {
	font-family: Coinbase;
}

.notification {
	@apply fixed z-10 right-0 bottom-0 m-10 text-white bg-gray-700 p-1 rounded-md shadow-md px-2;
	@apply opacity-0 select-none pointer-events-none;
}

@keyframes show_not {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 100%;
		translate: transformY(350px);
	}
}

@keyframes showoff {
	from {
		backdrop-filter: blur(0px);
	}
	to {
		backdrop-filter: blur(10px) brightness(1.1);
	}
}

@keyframes showoff2 {
	0% {
		opacity: 0;
		scale: 85%;
	}
	50% {
		scale: 105%;
	}
	100% {
		opacity: 100%;
		scale: 100%;
	}
}

.backdrop_eff {
	animation: showoff 0.1s ease-in forwards;
}

.backdrop_eff_2 {
	animation: showoff2 0.2s ease-out forwards;
}
